.venture-list-item {
    display: flex;
    flex-direction: row;
    gap: 10px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.venture-img {
    width: 500px;
    height: 330px;
    border-radius: 10px;
}

.venture-info {
    display: flex;
    flex-direction: column;
    gap: 20px;
    flex-grow: 1;
    * {
        width: fit-content;
        margin: 0;
    }
}

.venture-title {
    font-size: 20px;
    font-weight: 700;
    color: #000;
    align-self: center;
}

.venture-location {
    display: flex;
    align-items: center;
    gap: 10px;
    align-self: center;
    font-size: 15px;
}

.location-icon {
    width: 15px;
}

.venture-stats {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 15px;
    width: 80%;
    align-self: center;
    margin-block: 20px;
    height: 40px !important;
}

.stat {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.value {
    font-weight: 600;
    color: #000;
    align-self: center;
}
.units {
    font-weight: 400;
}

.vertical-line {
    width: 1px;
    height: 100%;
    background-color: #3f5e2d;
}

.highlights-title {
    font-size: 18px;
    font-weight: 500;
    color: #000;
}

.venture-highlights {
    display: flex;
    flex-direction: row;
    gap: 10px;
    list-style-type: none;
    padding-left: 0;
    width: 100%;
}

.highlight {
    color: gray;
    border: 1px solid gray;
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;

    &:hover {
        background-color: #3f5e2d;
        color: white;
    }
}

.ventrue-actions {
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-self: center;
}

.act-btn {
    padding: 6px 15px;
    border-radius: 5px;
    border: 1px solid #000;
    color: #000;
    cursor: pointer;
    outline: none;
    font-size: 16px;
    font-weight: 500;
    background-color: transparent;

    &:hover {
        background-color: #000;
        color: white;
    }
}

@media (max-width: 576px) {
    .venture-list-item {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 15px;
        border-radius: 6px;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 2px 3px;
    }

    .venture-img {
        width: 100%;
        height: 180px;
        border-radius: 5px;
    }

    .venture-info {
        display: flex;
        flex-direction: column;
        padding: 0;
        gap: 15px;

        * {
            width: fit-content;
            margin: 0;
        }
    }

    .venture-title {
        font-size: 16px;
    }

    .venture-location {
        gap: 10px;
        font-size: 12px;
    }

    .location-icon {
        width: 10px;
    }

    .venture-stats {
        font-size: 12px;
        width: 100%;
        margin-block: 15px;
        height: 40px;
    }

    .stat {
        gap: 10px;
    }

    .value {
        font-weight: 600;
        color: #000;
        align-self: flex-start;
    }
    .units {
        font-weight: 400;
    }

    .vertical-line {
        width: 1px;
    }

    .highlights-title {
        font-size: 14px;
    }

    .venture-highlights {
        display: flex;
        flex-direction: row;
        gap: 5px;
    }

    .highlight {
        padding: 3px;
        border-radius: 3px;
        font-size: 8px;
    }

    .ventrue-actions {
        gap: 10px;
    }

    .act-btn {
        padding: 3px 10px;
        border-radius: 3px;
        font-size: 14px;
    }
}


@media (max-width: 768px) {
    .venture-list-item {
        display: flex;
        flex-direction: column;
        padding: 15px;
        border-radius: 6px;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 2px 3px;
    }

    .venture-img {
        width: 100%;
        height: 180px;
        border-radius: 5px;
    }

    .venture-info {
        display: flex;
        flex-direction: column;
        padding: 0;
        gap: 15px;

        * {
            width: fit-content;
            margin: 0;
        }
    }

    .venture-title {
        font-size: 16px;
    }

    .venture-location {
        gap: 10px;
        font-size: 12px;
    }

    .location-icon {
        width: 10px;
    }

    .venture-stats {
        font-size: 12px;
        width: 100%;
        margin-block: 15px;
        height: 40px;
    }

    .stat {
        gap: 10px;
    }

    .value {
        font-weight: 600;
        color: #000;
        align-self: flex-start;
    }
    .units {
        font-weight: 400;
    }

    .vertical-line {
        width: 1px;
    }

    .highlights-title {
        font-size: 14px;
    }

    .venture-highlights {
        display: flex;
        flex-direction: row;
        gap: 5px;
    }

    .highlight {
        padding: 3px;
        border-radius: 3px;
        font-size: 8px;
    }

    .ventrue-actions {
        gap: 10px;
    }

    .act-btn {
        padding: 3px 10px;
        border-radius: 3px;
        font-size: 14px;
    }
}

@media (max-width: 992px) {
    .venture-list-item {
        display: flex;
        flex-direction: column;
        padding: 20px;
        border-radius:10px;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 2px 3px;
    }

    .venture-img {
        width: 100%;
        height: 200px;
        border-radius: 5px;
    }

    .venture-info {
        gap: 20px;
    }

    .venture-title {
        font-size: 18px;
    }

    .venture-stats {
        font-size: 12px;
        width: 100%;
        margin-block: 15px;
        height: 40px;
    }

    .stat {
        gap: 10px;
    }

    .highlights-title {
        font-size: 16px;
    }

    .venture-highlights {
        display: flex;
        flex-direction: row;
        gap: 5px;
    }

    .highlight {
        padding: 5px;
        border-radius: 5px;
        font-size: 12px;
    }

    .ventrue-actions {
        gap: 15px;
    }

    .act-btn {
        padding: 5px 10px;
        border-radius: 5px;
        font-size: 14px;
    }
}