.address-strip {
    padding: 30px 15vh;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.address-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    * {
        margin: 0;
    }
}

.address-label {
    display: flex;
    flex-direction: row;
    gap: 5px;
    align-items: center;
    font-size: 15px;
    font-weight: normal;
}
.address-val {
    font-size: 15px;
    font-weight: normal;
    text-align: center;
}

@media (min-width: 320px) and (max-width: 576px) {
    .address-strip {
        padding: 10px;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }

    .address-item {
        gap: 5px;
    }

    .address-label {
        font-size: 10px;
    }
    .address-val {
        font-size: 10px;
    }
}

@media (min-width: 577px) and (max-width: 768px) {
    .address-strip {
        padding: 20px;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }

    .address-item {
        gap: 5px;
    }

    .address-label {
        font-size: 12px;
    }
    .address-val {
        font-size: 12px;
    }
}

@media (min-width: 769px) and (max-width: 992px) {
    .address-strip {
        padding: 25px 10vh;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }

    .address-item {
        gap: 5px;
    }

    .address-label {
        font-size: 14px;
    }
    .address-val {
        font-size: 14px;
    }
}
