.hero-section {
    position: relative;
    width: 100%;
    height: 80vh;
    background-image: url("/public/images/gunturList/banner.jpg");
    background-size: 100% 90vh;
    background-repeat: no-repeat;
}

.hero-title {
    position: absolute;
    left: 100px;
    top: 30%;
    transform: translateY(-30%);
    font-size: 30px;
    color: white;
    font-weight: bold;
    /* text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3); */
}

.search-box {
    position: absolute;
    bottom: -95px;
    left: 50%;
    transform: translateX(-50%);
    width: 50%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 25px;
    display: flex;
    flex-direction: column;
    gap: 0px;
    background-color: #fff;
    border-radius: 10px;
}

.search-title {
    font-size: 24px;
    font-weight: bold;
    color: #333;
    margin-bottom: 10px;
}

.hero-search-form {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px 25px;
}

.select-input {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ced4da;
    box-sizing: border-box;
    height: 40px;
    color: #8c8c8c;
    margin: 0 !important;
}

.inp-wrapper {
    display: flex;
    align-items: center;
    border: 1px solid #ced4da;
    border-radius: 5px;
    height: 40px;
    gap: 5px;
    flex: 1.5;
}

.inp-wrapper .search-input {
    padding: 10px;
    color: #8c8c8c;
    border: none;
    margin: 0 !important;
}

.inp-wrapper .search-icon {
    color: #8c8c8c;
    font-size: 20px;
    margin-right: 10px;
}

.search-btn {
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    background-color: #3f5e2d;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

.price-range {
    margin-top: 0px;
}

.range-slider {
    position: relative;
    width: 100%;
    height: 10px;
    background-color: #ddd;
    margin-top: 10px;
    border-radius: 5px;
}

.range-slider .range-fill {
    position: absolute;
    height: 100%;
    background-color: #3f5e2d;
    /* border-radius: 5px; */
}

.range-slider .handle {
    position: absolute;
    width: 18px;
    height: 18px;
    background-color: #3f5e2d;
    border-radius: 50%;
    border: 1px solid #3f5e2d;
    top: -4px;
    cursor: pointer;
}

.handle-left {
    left: 0;
}

.handle-right {
    right: 0;
}

@media only screen and (min-width: 320px) and (max-width: 480px) {
    .hero-section {
        height: 60vh;
        background-size: 100% 60vh;
    }

    .hero-title {
        left: 20px;
        top: 25%;
        transform: translateY(-25%);
        font-size: 16px;
    }

    .search-box {
        width: 80%;
        padding: 10px;
        gap: 10px;
        bottom: -150px;
    }

    .search-title {
        font-size: 14px;
    }

    .hero-search-form {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 10px;
    }

    .select-input {
        padding: 5px;
        border-radius: 3px;
        height: 30px;
        font-size: 12px;
    }

    .inp-wrapper {
        border-radius: 3px;
        height: 30px;
    }

    .inp-wrapper .search-input {
        padding: 5px;
        font-size: 12px;
    }

    .inp-wrapper .search-icon {
        color: #8c8c8c;
        font-size: 13px;
        margin-right: 5px;
    }

    .search-btn {
        padding: 10px;
        border-radius: 3px;
        font-size: 14px;
    }
    .price-range {
        margin-top: 0px;
    }
    .price-range-text {
        font-size: 12px;
    }
    .range-slider {
        height: 8px;
        margin-top: 10px;
    }

    .range-slider .handle {
        width: 15px;
        height: 15px;
        top: -4px;
    }

    .handle-left {
        left: 0;
    }

    .handle-right {
        right: 0;
    }
}

@media only screen and (min-width: 481px) and (max-width: 576px) {
    .hero-section {
        height: 65vh;
        background-size: 100% 60vh;
    }

    .hero-title {
        left: 20px;
        top: 28%;
        transform: translateY(-28%);
        font-size: 16px;
    }

    .search-box {
        width: 75%;
        padding: 12px;
        gap: 10px;
        bottom: -140px;
    }

    .search-title {
        font-size: 14px;
    }

    .hero-search-form {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 10px;
    }

    .select-input {
        padding: 5px;
        border-radius: 3px;
        height: 35px;
        font-size: 14px;
    }

    .inp-wrapper {
        border-radius: 3px;
        height: 35px;
    }

    .inp-wrapper .search-input {
        padding: 5px;
        font-size: 14px;
    }

    .inp-wrapper .search-icon {
        color: #8c8c8c;
        font-size: 15px;
        margin-right: 5px;
    }

    .search-btn {
        padding: 10px;
        border-radius: 3px;
        font-size: 14px;
    }
    .price-range {
        margin-top: 0px;
    }
    .price-range-text {
        font-size: 14px;
    }
    .range-slider {
        height: 8px;
        margin-top: 10px;
    }

    .range-slider .handle {
        width: 15px;
        height: 15px;
        top: -4px;
    }

    .handle-left {
        left: 0;
    }

    .handle-right {
        right: 0;
    }
}

@media only screen and (min-width: 577px) and (max-width: 767px) {
    .hero-section {
        height: 70vh;
        background-size: 100% 60vh;
    }

    .hero-title {
        left: 40px;
        top: 30%;
        transform: translateY(-30%);
        font-size: 18px;
    }

    .search-box {
        width: 80%;
        padding: 12px;
        gap: 10px;
        bottom: -80px;
    }

    .search-title {
        font-size: 14px;
    }

    .hero-search-form {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 12px;
    }

    .select-input {
        padding: 5px;
        border-radius: 3px;
        height: 40px;
        font-size: 14px;
    }

    .inp-wrapper {
        border-radius: 3px;
        height: 40px;
    }

    .inp-wrapper .search-input {
        padding: 5px;
        font-size: 14px;
    }

    .inp-wrapper .search-icon {
        color: #8c8c8c;
        font-size: 18px;
        margin-right: 5px;
    }

    .search-btn {
        padding: 12px;
        border-radius: 3px;
        font-size: 14px;
    }
    .price-range {
        margin-top: 0px;
    }
    .price-range-text {
        font-size: 12px;
    }
    .range-slider {
        height: 8px;
        margin-top: 10px;
    }

    .range-slider .handle {
        width: 15px;
        height: 15px;
        top: -4px;
    }

    .handle-left {
        left: 0;
    }
    .priceRangeText {
        font-size: 12px;
    }

    .handle-right {
        right: 0;
    }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .hero-section {
        height: 75vh;
        background-size: 100% 60vh;
    }

    .hero-title {
        left: 10%;
        top: 30%;
        transform: translateY(-30%);
        font-size: 20px;
    }

    .search-box {
        width: 75%;
        padding: 20px;
        gap: 10px;
        bottom: -70px;
    }

    .search-title {
        font-size: 16px;
    }

    .hero-search-form {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 15px;
    }

    .select-input {
        padding: 8px;
        border-radius: 5px;
        height: 40px;
        font-size: 14px;
    }

    .inp-wrapper {
        border-radius: 5px;
        height: 40px;
    }

    .inp-wrapper .search-input {
        padding: 8px;
        font-size: 14px;
    }

    .inp-wrapper .search-icon {
        color: #8c8c8c;
        font-size: 20px;
        margin-right: 8px;
    }

    .search-btn {
        padding: 10px;
        border-radius: 5px;
        font-size: 16px;
    }
    .price-range {
        margin-top: 0px;
    }
    .price-range-text {
        font-size: 14px;
    }
    .range-slider {
        height: 10px;
        margin-top: 10px;
    }

    .range-slider .handle {
        width: 18px;
        height: 18px;
        top: -5px;
    }

    .handle-left {
        left: 0;
    }
    .priceRangeText {
        font-size: 14px;
    }

    .handle-right {
        right: 0;
    }
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
    .hero-section {
        height: 75vh;
        background-size: 100% 60vh;
    }

    .hero-title {
        left: 10%;
        top: 30%;
        transform: translateY(-30%);
        font-size: 20px;
    }

    .search-box {
        width: 75%;
        padding: 20px;
        gap: 10px;
        bottom: -70px;
    }

    .search-title {
        font-size: 16px;
    }

    .hero-search-form {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 15px;
    }

    .select-input {
        padding: 8px;
        border-radius: 5px;
        height: 40px;
        font-size: 14px;
    }

    .inp-wrapper {
        border-radius: 5px;
        height: 40px;
    }

    .inp-wrapper .search-input {
        padding: 8px;
        font-size: 14px;
    }

    .inp-wrapper .search-icon {
        color: #8c8c8c;
        font-size: 20px;
        margin-right: 8px;
    }

    .search-btn {
        padding: 10px;
        border-radius: 5px;
        font-size: 16px;
    }
    .price-range {
        margin-top: 0px;
    }
    .price-range-text {
        font-size: 14px;
    }
    .range-slider {
        height: 10px;
        margin-top: 10px;
    }

    .range-slider .handle {
        width: 18px;
        height: 18px;
        top: -5px;
    }

    .handle-left {
        left: 0;
    }
    .priceRangeText {
        font-size: 14px;
    }

    .handle-right {
        right: 0;
    }
}

@media only screen and (min-width: 1200px) {
    .hero-section {
        height: 80vh;
        background-size: 100% 70vh;
    }

    .hero-title {
        left: 18%;
        top: 35%;
        transform: translateY(-35%);
        font-size: 30px;
    }

    .search-box {
        width: 60%;
        padding: 20px;
        gap: 10px;
        bottom: -70px;
    }

    .search-title {
        font-size: 18px;
    }

    .hero-search-form {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px 35px;
    }

    .select-input {
        padding: 8px;
        border-radius: 5px;
        height: 40px;
        font-size: 14px;
    }

    .inp-wrapper {
        border-radius: 5px;
        height: 40px;
    }

    .inp-wrapper .search-input {
        padding: 8px;
        font-size: 14px;
    }

    .inp-wrapper .search-icon {
        color: #8c8c8c;
        font-size: 20px;
        margin-right: 8px;
    }

    .search-btn {
        padding: 10px;
        border-radius: 5px;
        font-size: 16px;
    }
    .price-range {
        margin-top: 0px;
    }
    .price-range-text {
        font-size: 14px;
    }
    .range-slider {
        height: 10px;
        margin-top: 10px;
    }

    .range-slider .handle {
        width: 18px;
        height: 18px;
        top: -5px;
    }

    .handle-left {
        left: 0;
    }
    .priceRangeText {
        font-size: 14px;
    }

    .handle-right {
        right: 0;
    }
}
