/* App.css */

html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
  }
  
  .app-wrapper {
    height: 100vh;
    overflow-y: auto;
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* IE and Edge */
  }
  
  .app-wrapper::-webkit-scrollbar {
    display: none; /* Chrome, Safari, and Opera */
  }
  