.saravana-role {
    padding: 30px 15vh;
    display: flex;
    flex-direction: column;
}

.saravana-role-title {
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 20px;
    color: #000;
    text-decoration: underline;
    text-underline-offset: 5px;
}

.saravana-role-content {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 20px;
}

.saravana-role-image {
    flex: 1;
}

.saravana-role-description {
    padding-left: 50px;
    flex: 2;
    font-size: 14px;
    color: #000;
    line-height: 28px;
    margin: 0;
}
