.indrravathi-sections {
    position: relative;
    width: 70%;
}

.indrravathi-sections .tabs {
    position: sticky;
    top: 12vh;
    background-color: #fff;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 10px 15px;
    z-index: 5;
}

.indrravathi-sections .tabs .tab {
    font-size: 14px;
    color: #000000b4;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;

    &:hover {
        color: #000;
    }
}
.indrravathi-sections .tabs .tab.active {
    color: #000;
    text-decoration: underline;
    text-underline-offset: 5px;
}
